$project-thumbnail-container-background: #ecefec;
$project-background: #ecefec;
$personal-info-background: #12263a;
$personal-info-text: #f0ece8;
$personal-info-text-hover: #cbb7a1;
$project-thumbnail-container-shadow: rgba(0, 0, 0, 0.15);
$project-thumbnail-container-shadow-hover: rgba(0, 0, 0, 0.35);
$project-thumbnail-division-line: #daddd8;
