@import "./basic.scss";
@import "./__variable.scss";

.index-container {
    height: 100vh;
    min-height: 100vh;
}

.personal-info-background{
    background-color: $personal-info-background;
}

.project-background{
    background-color: $project-background;
}
