@import "./__variable.scss";
@import "~bootstrap/scss/bootstrap";

.personal-info-container {
  height: 100%;
  min-height: 100vh;
  color: $personal-info-text;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info-pic-container {
  align-self: center;
}

.personal-info-pic {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.personal-info-name {
  font-weight: bold;
}

.personal-info-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal-info-icon {
  color: $personal-info-text;

  &:hover {
    color: $personal-info-text-hover;
  }
}

.personal-info-skill {
  text-align: center;
}

.personal-info-copyright {
  color: rgb(151, 151, 151);
}

@include media-breakpoint-up(xl) {
  .personal-info-pic-container {
    margin-top: 80px;
  }

  .personal-info-pic {
    width: 250px;
    height: 250px;
  }

  .personal-info-name {
    font-size: 28px;
    margin-top: 40px;
  }

  .personal-info-icon {
    font-size: 28px;
  }

  .left-padding {
    margin-left: 30px;
  }

  .personal-info-skill {
    margin-top: 50px;
    font-size: 18px;
    padding-top: 10px;
  }

  .personal-info-copyright {
    font-size: 14px;
    position: absolute;
    bottom: 30px;
  }
}

@include media-breakpoint-down(sm) {
  .personal-info-pic-container {
    margin-top: 30px;
  }

  .personal-info-pic {
    width: 180px;
    height: 180px;
  }

  .personal-info-name {
    font-size: 26px;
    margin-top: 30px;
  }

  .personal-info-icon {
    font-size: 32px;
  }

  .left-padding {
    margin-left: 50px;
  }

  .personal-info-skill {
    margin-top: 30px;
    font-size: 16px;
    padding-top: 10px;
    height: 225px;
  }

  .personal-info-copyright {
    font-size: 12px;
    position: absolute;
    bottom: 30px;
   
  }
}

@include media-breakpoint-only(md) {
  .personal-info-pic-container {
    margin-top: 80px;
  }

  .personal-info-pic {
    width: 250px;
    height: 250px;
  }

  .personal-info-name {
    font-size: 28px;
    margin-top: 40px;
  }

  .personal-info-icon {
    font-size: 28px;
  }

  .left-padding {
    margin-left: 30px;
  }

  .personal-info-skill {
    margin-top: 50px;
    font-size: 18px;
    padding-top: 10px;
    height: 250px;
  }

  .personal-info-copyright {
    font-size: 14px;
    position: absolute;
    bottom: 30px;
   
  }
}

@include media-breakpoint-only(lg) {
  .personal-info-pic-container {
    margin-top: 100px;
  }

  .personal-info-pic {
    width: 225px;
    height: 225px;
  }

  .personal-info-name {
    font-size: 28px;
    margin-top: 40px;
  }

  .personal-info-icon {
    font-size: 28px;
  }

  .left-padding {
    margin-left: 30px;
  }

  .personal-info-skill {
    margin-top: 50px;
    font-size: 18px;
    padding-top: 10px;
  }

  .personal-info-copyright {
    font-size: 14px;
    position: absolute;
    bottom: 30px;
  }
}

