@import "./__variable.scss";

.personal-info-container {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    minmax(300px, 35vh) minmax(100px, 15vh) minmax(100px, 25vh)
    minmax(100px, 15vh);
  align-content: center;
  justify-items: center;
  color: $personal-info-text;
}

.personal-info-pic-container {
  align-self: center;
}

.personal-info-pic {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.personal-info-name {
  font-size: 28px;
  font-weight: bold;
}

.personal-info-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal-info-icon {
  font-size: 28px;
  color: $personal-info-text;

  &:hover {
    color: $personal-info-text-hover;
  }
}

.left-padding {
  margin-left: 30px;
}

.personal-info-skill {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.personal-info-copyright {
  font-size: 14px;
  color: rgb(151, 151, 151);
  align-self: end;
}
