@import "./__variable.scss";
@import "~bootstrap/scss/bootstrap";

.project-thumbnail-container {
  background-color: $project-thumbnail-container-background;
  border-radius: 20px;
  box-shadow: $project-thumbnail-container-shadow 0px 5px 15px;

  &:hover {
    transition: 0.3s;
    box-shadow: $project-thumbnail-container-shadow-hover 0px 5px 15px;
  }
}

.project-thumbnail {
  width: inherit;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid $project-thumbnail-division-line;
}

.project-thumbnail-title {
  color: black;
}

.project-thumbnail-link:hover {
  text-decoration: none;
}

@include media-breakpoint-up(xl) {
  .project-thumbnail-container {
    width: 32vw;
  }
  
  .project-thumbnail-title {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
