@import "./basic.scss";
@import "./__variable.scss";

.project-detail-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: $project-thumbnail-container-background;
}

.project-detail-heading {
  padding: 25px 0;
}

.project-detail-heading-text {
  font-weight: bold;
  color: $project-detail-main;
  font-size: 28px;

  &:hover {
    color: $project-detail-hover;
  }
}

.project-detail-title {
  font-weight: bold;
  font-size: 36px;
}

.project-detail-link-container {
  margin-bottom: 20px;
}

.project-detail-link {
  color: $project-detail-main;
  font-size: 18px;
  margin-right: 25px;

  &:hover {
    color: $project-detail-hover;
  }
}

.project-detail-languages-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.project-detail-description {
  color: grey;
  margin-bottom: 20px;
}

.project-detail-content {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.8;
}

.project-detail-coyright {
  border-top: 1px solid rgb(214, 214, 214);
  color: grey;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
}

@include media-breakpoint-down(sm) {
  .project-detail-content-container {
    max-width: 90%;
  }

  .project-detail-heading-text {
    font-size: 24px;
  }

  .project-detail-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .project-detail-content {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 2;
  }
}

@include media-breakpoint-only(md) {
  .project-detail-content-container {
    max-width: 700px;
  }
}

@include media-breakpoint-only(lg) {
  .project-detail-content-container {
    max-width: 800px;
  }
}

@include media-breakpoint-up(xl) {
  .project-detail-content-container {
    max-width: 1000px;
  }
}
