@import "~bootstrap/scss/bootstrap";

.project-panel-container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
}

@include media-breakpoint-up(xl) {
  .project-panel-container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, minmax(400px, 45vh));
  }
}
